xslt/DTD/ecromedos.dtd

<!--
 - Desc:    This file is part of the ecromedos Document Preparation System
 - Author:  Tobias Koch <tobias@tobijk.de>
 - License: MIT
 - URL:     http://www.ecromedos.net
-->

<!-- ====================================================================== -->
<!-- ====================================================================== -->
<!-- ======================== predefined entities ========================= -->
<!-- ====================================================================== -->
<!-- ====================================================================== -->

<!ENTITY tex     "<entity name='tex'/>"   >
<!ENTITY latex   "<entity name='latex'/>" >
<!ENTITY xetex   "<entity name='xetex'/>" >
<!ENTITY xelatex "<entity name='xelatex'/>" >
<!ENTITY nbsp    "<entity name='nbsp'/>"  >
<!ENTITY zwsp    "<entity name='zwsp'/>"  >
<!ENTITY endash  "<entity name='endash'/>">
<!ENTITY emdash  "<entity name='emdash'/>">
<!ENTITY dots    "<entity name='dots'/>"  >
<!ENTITY check   "<entity name='check'/>" >
<!ENTITY cross   "<entity name='cross'/>" >

<!-- ====================================================================== -->
<!-- ====================================================================== -->
<!-- ========================== inline elements =========================== -->
<!-- ====================================================================== -->
<!-- ====================================================================== -->


<!-- ================================================================== -->
<!-- START: ELEMENT GROUPS                                              -->
<!-- ================================================================== -->
<!ENTITY % quoting-text "q | qq">

<!ENTITY % coloring-text "color">

<!ENTITY % referencing-text "cite | ref | pageref | entity | label | idxterm">

<!ENTITY % formatting-text
    "span | i | b | u | tt | xx-small | x-small | small 
    | medium | large | x-large | xx-large | sup | sub | nobr | br | y" >

<!ENTITY % annotating-text "footnote | link | defterm">

<!ENTITY % math-text "m">

<!ENTITY % counter-text "counter">

<!ENTITY % img-text "img">

<!ENTITY % inline-elements "
    %quoting-text; | %coloring-text; | %referencing-text; | %img-text; |
    %formatting-text; | %annotating-text; | %math-text; | %counter-text;">

<!-- ================================================================== -->
<!-- END: ELEMENT GROUPS                                                -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: quoting                                                     -->
<!-- ================================================================== -->
<!ELEMENT q        (#PCDATA | %inline-elements;)*>
<!ELEMENT qq       (#PCDATA | %inline-elements;)*>
<!-- ================================================================== -->
<!-- END: quoting                                                       -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: colors                                                      -->
<!-- ================================================================== -->
<!ELEMENT color    (#PCDATA | %inline-elements;)*>
<!ATTLIST color rgb CDATA #REQUIRED>
<!-- ================================================================== -->
<!-- END: colors                                                        -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: labels, cross-references, entities and indexing             -->
<!-- ================================================================== -->
<!ELEMENT cite      EMPTY>
<!ATTLIST cite idref IDREF #REQUIRED>

<!ELEMENT label     EMPTY>
<!ATTLIST label id ID #REQUIRED>

<!ELEMENT ref       EMPTY>
<!ATTLIST ref idref IDREF #REQUIRED>

<!ELEMENT pageref   EMPTY>
<!ATTLIST pageref idref IDREF #REQUIRED>

<!ELEMENT entity    EMPTY>
<!ATTLIST entity name CDATA #REQUIRED>

<!ELEMENT idxterm (item, (subitem, subsubitem?)?)>
<!ATTLIST idxterm
    group   IDREF #IMPLIED
    sortkey CDATA #IMPLIED
>

<!ELEMENT defterm (dt, dd)>
<!ATTLIST defterm
    sortkey CDATA #IMPLIED
>
<!-- ================================================================== -->
<!-- END: labels, cross-references and entities                         -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: text formatting elements                                    -->
<!-- ================================================================== -->
<!ELEMENT span     (#PCDATA | %inline-elements;)*>

<!ELEMENT i        (#PCDATA | %inline-elements;)*>
<!ELEMENT b        (#PCDATA | %inline-elements;)*>
<!ELEMENT u        (#PCDATA | %inline-elements;)*>
<!ELEMENT tt       (#PCDATA | %inline-elements;)*>
<!ELEMENT xx-small (#PCDATA | %inline-elements;)*>
<!ELEMENT x-small  (#PCDATA | %inline-elements;)*>
<!ELEMENT small    (#PCDATA | %inline-elements;)*>
<!ELEMENT medium   (#PCDATA | %inline-elements;)*>
<!ELEMENT large    (#PCDATA | %inline-elements;)*>
<!ELEMENT x-large  (#PCDATA | %inline-elements;)*>
<!ELEMENT xx-large (#PCDATA | %inline-elements;)*>
<!ELEMENT sup      (#PCDATA | %inline-elements;)*>
<!ELEMENT sub      (#PCDATA | %inline-elements;)*>
<!ELEMENT nobr     (#PCDATA | %inline-elements;)*>

<!ELEMENT br        EMPTY>
<!ELEMENT pagebreak EMPTY>
<!ELEMENT y         EMPTY>
<!-- ================================================================== -->
<!-- END: text formatting elements                                      -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: annotations                                                 -->
<!-- ================================================================== -->
<!ELEMENT footnote (#PCDATA | %inline-elements;)*>
<!ELEMENT link     (#PCDATA | %inline-elements;)*>
<!ATTLIST link
    url   CDATA #IMPLIED
    idref CDATA #IMPLIED
>
<!-- ================================================================== -->
<!-- END: annotations                                                   -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: inline math                                                 -->
<!-- ================================================================== -->
<!ELEMENT m        (#PCDATA)>
<!-- ================================================================== -->
<!-- END: inline math                                                   -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: named counters                                              -->
<!-- ================================================================== -->
<!ELEMENT counter EMPTY>
<!ATTLIST counter
    group     CDATA    #REQUIRED
    id        CDATA    #IMPLIED
    simple    (yes|no) #IMPLIED
    base      (0|1)    #IMPLIED
>
<!-- ================================================================== -->
<!-- END: named counters                                                -->
<!-- ================================================================== -->


<!-- ====================================================================== -->
<!-- ====================================================================== -->
<!-- ========================= block elements ============================= -->
<!-- ====================================================================== -->
<!-- ====================================================================== -->


<!-- ================================================================== -->
<!-- START: all block elements                                          -->
<!-- ================================================================== -->
<!ENTITY % block-elements "blockquote | figure | table | equation
    | listing | verbatim | p | ul | ol | dl | pagebreak">
<!-- ================================================================== -->
<!-- END: all block elements                                            -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: equation                                                    -->
<!-- ================================================================== -->
<!ELEMENT equation (label?, m)>
<!ATTLIST equation
    number (yes|no) #IMPLIED
    id     ID       #IMPLIED
>
<!-- ================================================================== -->
<!-- END: equation                                                      -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: make-toc                                                    -->
<!-- ================================================================== -->
<!ELEMENT make-toc EMPTY>
<!ATTLIST make-toc
    depth (0|1|2|3|4|5) #IMPLIED
    lof   (yes|no)      #IMPLIED
    lot   (yes|no)      #IMPLIED
    lol   (yes|no)      #IMPLIED
>
<!-- ================================================================== -->
<!-- END: make-toc                                                      -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: make-overview                                               -->
<!-- ================================================================== -->
<!ELEMENT make-overview EMPTY>
<!ATTLIST make-overview
    pagenumbers (yes|no)    #IMPLIED
    depth       (0|1|2|3|4) #IMPLIED
>
<!-- ================================================================== -->
<!-- END: make-overview                                                 -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: legal                                                       -->
<!-- ================================================================== -->
<!ELEMENT legal (p*)>
<!-- ================================================================== -->
<!-- END: legal                                                         -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: caption                                                     -->
<!-- ================================================================== -->
<!ELEMENT caption (#PCDATA | %inline-elements;)*>
<!ELEMENT shortcaption (#PCDATA | %inline-elements;)*>
<!-- ================================================================== -->
<!-- END: caption                                                       -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: minisection                                                 -->
<!-- ================================================================== -->
<!ELEMENT minisection (title, (%block-elements;)*)>
<!-- ================================================================== -->
<!-- END: minisection                                                   -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: figure                                                      -->
<!-- ================================================================== -->
<!ELEMENT img EMPTY>
<!ATTLIST img
    src          CDATA #REQUIRED
    print-width  CDATA #IMPLIED
    screen-width CDATA #IMPLIED
>
<!ELEMENT figure (caption?, img)>
<!ATTLIST figure
    align  (left|center|right) #IMPLIED
    border (yes|no)            #IMPLIED
    float  (yes|no)            #IMPLIED
    id     ID                  #IMPLIED
>
<!-- ================================================================== -->
<!-- END: figure                                                        -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: table                                                       -->
<!-- ================================================================== -->
<!ELEMENT col EMPTY>
<!ATTLIST col
    width CDATA #REQUIRED
>
<!ELEMENT colgroup (col+)>
<!ELEMENT td (#PCDATA | %inline-elements; | %block-elements;)*>
<!ATTLIST td
    frame   CDATA                       #IMPLIED
    align   (left|center|right|justify) #IMPLIED
    color   CDATA                       #IMPLIED
    colspan CDATA                       #IMPLIED
>
<!ELEMENT th (td|subtable)+>
<!ATTLIST th
    frame  CDATA #IMPLIED
    color  CDATA #IMPLIED
    valign (top|middle|bottom) #IMPLIED
>
<!ELEMENT tr (td|subtable)+>
<!ATTLIST tr
    frame  CDATA #IMPLIED
    align  (left|center|right|justify) #IMPLIED
    color  CDATA #IMPLIED
    valign (top|middle|bottom) #IMPLIED
>
<!ELEMENT tf (td|subtable)+>
<!ATTLIST tf
    frame  CDATA #IMPLIED
    color  CDATA #IMPLIED
    valign (top|middle|bottom) #IMPLIED
>
<!ELEMENT table ((caption, shortcaption?)?, colgroup, th*, tr+, tf*)>
<!ATTLIST table
    print-width      CDATA               #IMPLIED
    screen-width     CDATA               #IMPLIED
    frame            CDATA               #IMPLIED
    rulecolor        CDATA               #IMPLIED
    print-rulewidth  CDATA               #IMPLIED
    screen-rulewidth CDATA               #IMPLIED
    align            (left|center|right) #IMPLIED
    float            (yes|no)            #IMPLIED
    id               ID                  #IMPLIED
>
<!ELEMENT subtable (colgroup, tr+)>
<!ATTLIST subtable
    frame   CDATA #IMPLIED
    color   CDATA #IMPLIED
    colspan CDATA #IMPLIED
>
<!-- ================================================================== -->
<!-- END: table                                                         -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: listing                                                     -->
<!-- ================================================================== -->
<!ELEMENT code (#PCDATA | %inline-elements;)*>
<!ATTLIST code
    syntax      CDATA    #IMPLIED
    colorscheme CDATA    #IMPLIED
    startline   CDATA    #IMPLIED
    linestep    CDATA    #IMPLIED
    tabspaces   CDATA    #IMPLIED
    strip       (yes|no) #IMPLIED
    bgcolor     CDATA    #IMPLIED
>
<!ELEMENT listing (caption?, code)>
<!ATTLIST listing id ID #IMPLIED>

<!ELEMENT verbatim (#PCDATA | %inline-elements;)*>
<!ATTLIST verbatim
    strip   (yes|no) #IMPLIED
    bgcolor CDATA    #IMPLIED
>
<!-- ================================================================== -->
<!-- END: listing                                                       -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: paragraph                                                   -->
<!-- ================================================================== -->
<!ELEMENT p (#PCDATA | title | %inline-elements; | figure)*>
<!-- ================================================================== -->
<!-- END: paragraph                                                     -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: blockquote                                                  -->
<!-- ================================================================== -->
<!ELEMENT blockquote (p+)>
<!-- ================================================================== -->
<!-- END: blockquote                                                    -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: lists                                                       -->
<!-- ================================================================== -->
<!ELEMENT ul (li)+>
<!ELEMENT ol (li)+>
<!ATTLIST ol type (1|i|I|a|A) #IMPLIED>
<!ELEMENT li (#PCDATA | %inline-elements; | %block-elements;)*>

<!ELEMENT dl (dt, dd)+>
<!ELEMENT dt (#PCDATA | %inline-elements;)*>
<!ELEMENT dd (#PCDATA | %inline-elements; | %block-elements;)*>
<!-- ================================================================== -->
<!-- END: lists                                                         -->
<!-- ================================================================== -->


<!-- ====================================================================== -->
<!-- ====================================================================== -->
<!-- ============================= sections =============================== -->
<!-- ====================================================================== -->
<!-- ====================================================================== -->


<!-- ================================================================== -->
<!-- START: abstract                                                    -->
<!-- Abstract is specific to document class 'article'                   -->
<!-- ================================================================== -->
<!ELEMENT abstract (p+)>
<!-- ================================================================== -->
<!-- END: abstract                                                      -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: glossary                                                    -->
<!-- A glossary contains nothing but a glossary list                    -->
<!-- ================================================================== -->
<!ELEMENT glossary (glsection)+>
<!ATTLIST glossary tocentry (yes|no) #IMPLIED>
<!ELEMENT glsection (dl)>
<!ATTLIST glsection name CDATA #IMPLIED>

<!ELEMENT make-glossary EMPTY>
<!ATTLIST make-glossary
    alphabet  CDATA                        #IMPLIED
    locale    CDATA                        #IMPLIED
    tocentry  (yes|no)                     #IMPLIED
>
<!-- ================================================================== -->
<!-- END: glossary                                                      -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: bibliography                                                -->
<!-- A bibliography contains one or more items                          -->
<!-- ================================================================== -->
<!ELEMENT bibitem (#PCDATA | %inline-elements;)*>
<!ATTLIST bibitem
    label CDATA #REQUIRED
    id    ID    #REQUIRED
>
<!ELEMENT biblio  (bibitem+)>
<!ATTLIST biblio
    number   (yes|no) #IMPLIED
    tocentry (yes|no) #IMPLIED
>
<!-- ================================================================== -->
<!-- END: bibliography                                                  -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: index                                                       -->
<!-- ================================================================== -->
<!ELEMENT index (idxsection)+>
<!ATTLIST index
    group     CDATA    #IMPLIED
    title     CDATA    #IMPLIED
    columns   (2|3)    #IMPLIED
    tocentry  (yes|no) #IMPLIED
>

<!ELEMENT idxsection (item, (subitem, subsubitem*)*)*>
<!ATTLIST idxsection name CDATA #IMPLIED>
<!ELEMENT item       (#PCDATA | idxref)*>
<!ELEMENT subitem    (#PCDATA | idxref)*>
<!ELEMENT subsubitem (#PCDATA | idxref)*>

<!ELEMENT idxref EMPTY>
<!ATTLIST idxref idref IDREF #REQUIRED>

<!ELEMENT make-index EMPTY>
<!ATTLIST make-index
    group     ID                           #IMPLIED
    alphabet  CDATA                        #IMPLIED
    title     CDATA                        #IMPLIED
    columns   (2|3)                        #IMPLIED
    separator CDATA                        #IMPLIED
    locale    CDATA                        #IMPLIED
    tocentry  (yes|no)                     #IMPLIED
>
<!-- ================================================================== -->
<!-- END: index                                                         -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: sectioning                                                  -->
<!-- A section has a title followed by an opening and                   -->
<!-- an arbitrary number of subsections                                 -->
<!-- ================================================================== -->
<!ELEMENT preface         (title, (%block-elements; | minisection)*)>
<!ELEMENT part          (title, make-overview?, chapter+)>
<!ELEMENT chapter       (title, make-overview?, (%block-elements; | minisection)*, section*)>
<!ELEMENT appendix      (title, make-overview?, (%block-elements; | minisection)*, section*)>
<!ELEMENT section       (title, make-overview?, (%block-elements; | minisection)*, subsection*)>
<!ELEMENT subsection    (title, (%block-elements; | minisection)*, subsubsection*)>
<!ELEMENT subsubsection (title, (%block-elements; | minisection)*)>

<!ATTLIST preface
    tocentry (yes|no)  #IMPLIED
>
<!ATTLIST chapter
    tocentry (yes|no)  #IMPLIED
>
<!ATTLIST appendix
    tocentry (yes|no)  #IMPLIED
>
<!ATTLIST section
    tocentry (yes|no)  #IMPLIED
>
<!ATTLIST subsection
    tocentry (yes|no)  #IMPLIED
>
<!ATTLIST subsubsection
    tocentry (yes|no)  #IMPLIED
>
<!-- ================================================================== -->
<!-- END: sectioning                                                    -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: header elements                                             -->
<!-- 'title' and 'author' are mandatory, you can have more than one     -->
<!-- author. Other elements 'subject', 'date', 'publisher' are optional -->
<!-- ================================================================== -->
<!ELEMENT subject    (#PCDATA | %inline-elements;)*>
<!ELEMENT title      (#PCDATA | %inline-elements;)*>
<!ELEMENT subtitle   (#PCDATA | %inline-elements;)*>
<!ELEMENT author     (#PCDATA | %inline-elements;)*>
<!ELEMENT date       (#PCDATA | %inline-elements;)*>
<!ELEMENT publisher  (#PCDATA | %inline-elements;)*>
<!ELEMENT dedication (#PCDATA | %inline-elements;)*>
<!ELEMENT head (subject?, title, subtitle?, author*, date?,
    publisher?, dedication?)>
<!-- ================================================================== -->
<!-- END: header elements                                               -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: root element 'book'                                         -->
<!-- ================================================================== -->
<!ELEMENT book (head, legal?, make-toc?, preface*, (chapter* | part*),
    appendix*, (make-glossary | glossary)?, biblio?, (make-index | index)*)>
<!ATTLIST book
    lang          CDATA              #IMPLIED
    fontsize      (10pt|11pt|12pt)   #IMPLIED
    papersize     CDATA              #IMPLIED
    bcor          CDATA              #IMPLIED
    div           CDATA              #IMPLIED
    parskip       (full|half|off|no) #IMPLIED
    secnumdepth   (0|1|2|3|4|5)      #IMPLIED
    secsplitdepth (0|1|2|3|4|5)      #IMPLIED
    columns       (1|2)              #IMPLIED
>
<!-- ================================================================== -->
<!-- END: root element 'book'                                           -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: root element 'report'                                       -->
<!-- ================================================================== -->
<!ELEMENT report (head, legal?, make-toc?, preface*, (chapter* | part*),
    appendix*, (make-glossary | glossary)?, biblio?, (make-index | index)*)>
<!ATTLIST report
    lang          CDATA              #IMPLIED
    fontsize      (10pt|11pt|12pt)   #IMPLIED
    papersize     CDATA              #IMPLIED
    bcor          CDATA              #IMPLIED
    div           CDATA              #IMPLIED
    parskip       (full|half|off|no) #IMPLIED
    secnumdepth   (0|1|2|3|4|5)      #IMPLIED
    secsplitdepth (0|1|2|3|4|5)      #IMPLIED
    columns       (1|2)              #IMPLIED
>
<!-- ================================================================== -->
<!-- END: root element 'report'                                         -->
<!-- ================================================================== -->


<!-- ================================================================== -->
<!-- START: root element 'article'                                      -->
<!-- ================================================================== -->
<!ELEMENT article (head, make-toc?, abstract?, section*, biblio?)>
<!ATTLIST article
    lang          CDATA              #IMPLIED
    fontsize      (10pt|11pt|12pt)   #IMPLIED
    papersize     CDATA              #IMPLIED
    bcor          CDATA              #IMPLIED
    div           CDATA              #IMPLIED
    parskip       (full|half|off|no) #IMPLIED
    secnumdepth   (0|1|2|3|4|5)      #IMPLIED
    secsplitdepth (0|1|2|3|4|5)      #IMPLIED
    columns       (1|2)              #IMPLIED
>
<!-- ================================================================== -->
<!-- END: root element 'article'                                        -->
<!-- ================================================================== -->
